@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	/* Conjumate brand colors */
	--color-conjumate-teal: #00a4bd;
	--color-conjumate-dark: #0c343c;
	--color-conjumate-disabled: #ced6d7;
	--color-conjumate-focus: #cef2f4;
	--color-conjumate-label: #3c5c62;
}
